{% csrf_token %}

<div class="modal-body">
<!-- Prontuario -->
    <fieldset class="form-group col-6">
        <br>
        <h5>Nome
            <small class="text-muted"></small>
        </h5>
        <input type="text" name='name' id="name" class="contact-name form-control" {% if hi %}value="{{ hi.name }}"{% endif %} placeholder="Digite o nome do convênio...">
         <br>
        {% if request.path != '/create-hi/' %}
        <h6>Status</h6>
                <select class="form-control" id="status" name="status">
                    {% if hi %}
                        {% if hi.status == 'Ativo'%}
                            <option>Ativo</option>
                            <option>Desativado</option>
                        {% else %}
                            <option>Desativado</option>
                            <option>Ativo</option>
                        {% endif %}
                    {% endif %}

                </select>
        {% endif %}
    </fieldset>

</div>

