{% csrf_token %}

<div class="modal-body">
<!-- Prontuario -->
    <fieldset class="form-group col-6">
        <br>
        <h5>Nome
            <small class="text-muted"></small>
        </h5>
        <input type="text" name='name' id="name" class="contact-name form-control" {% if dc %}value="{{ dc.name }}"{% endif %} placeholder="Digite o nome do Doutor...">
         <br>
        <h5>CRM
            <small class="text-muted"></small>
        </h5>
        <input type="text" name='crm' id="crm" class="contact-name form-control" {% if dc %}value="{{ dc.crm }}"{% endif %} placeholder="Digite a crm...">
    </fieldset>

</div>

