{% csrf_token %}

<div class="modal-body">
<!-- Prontuario -->
    <fieldset class="form-group col-6">
        <br>
        <h5>Prontuario
            <small class="text-muted"></small>
        </h5>
        <input type="text" name='prontuario' id="prontuario" class="contact-name form-control" {% if pac %}value="{{ pac.prontuario }}"{% endif %} placeholder="Digite o número do Prontuario">
        <br>
    </fieldset>
    <h4 class="form-group col-12"><i class="feather icon-user"></i> Informação pessoal</h4><hr>

    <div class="form-group col-10">
        <div class="row">
<!--  Nome -->
            <fieldset class="form-group col-5">
                <h6>Nome
                    <small class="text-muted"></small>
                </h6>
                <input type="text" name='nome' id="nome" class="contact-name form-control" placeholder="Insira o Nome" {% if pac %}value="{{ pac.nome }}"{% endif %}>
            </fieldset>

<!-- sobrenome -->
            <fieldset class="form-group col-7">
                <h6>Sobrenome
                    <small class="text-muted"></small>
                </h6>
                <input type="text" name='sobrenome' id="sobrenome" class="contact-name form-control" placeholder="Insira o Sobrenome" {% if pac %}value="{{ pac.sobrenome }}"{% endif %}>
            </fieldset>
        </div>
    </div>


    <!-- RG + uf-->
    <div class="form-group col-11">
        <div class="row">

          <!-- CPF -->
            <fieldset class="form-group col-5">
                <h6>CPF
                    <small class="text-muted"></small>
                </h6>
                <input name="cpf" class="form-control cpf" type="text" placeholder="Insira o CPF 000.000.000-00" {% if pac %}value="{{ pac.cpf }}"{% endif %}>
            </fieldset>
            <!-- RG-->
            <fieldset class="form-group col-5">
                <h6>RG
                    <small class="text-muted"></small>
                </h6>
                   <input name="rg" class="form-control" type="text" placeholder="Insira o RG, Ex: 00.000.000-00" {% if pac %}value="{{ pac.rg }}"{% endif %}>
            </fieldset>

          <!-- UF do rg-->
            <fieldset class="form-group col-2">
                <h6>UF do RG
                    <small class="text-muted"></small>
                </h6>
                <input type="text" id="uf_rg" name="uf_rg" class="contact-name form-control" placeholder="uf do rg" {% if pac %}value="{{ pac.uf_rg }}"{% endif %}>
            </fieldset>
        </div>
    </div>

<!--    Genero-->
      <div class="form-group col-10">
        <div class="row">

            <fieldset class="form-group col-5">

                <h6>Genero</h6>
                <select class="form-control" id="genero" name="genero">
                    {% if pac %}<option>{{ pac.genero }}</option>{% endif %}
                    <option></option>
                    <option>Feminino</option>
                    <option>Masculino</option>
                    <option>Nenhuma das opções</option>
                </select>
            </fieldset>

            <!--  Data de nascimeto -->
            <fieldset class="form-group col-5">
              <h6>Data de nascimento
                  <small class="text-muted">Dia/Mês/Ano </small >
              </h6>
              <input type="date" name="data_nasci" id="timesheetinput3" class="form-control" {% if pac %}value="{{ pac.data_nasci|date:"Y-m-d" }}"{% endif %}>
              <br>
            </fieldset>
        </div></div>
    <br>
    <h4 class="form-group col-11"><i class="feather icon-mail"></i>Informação de contato</h4><hr>
     <!-- Email-->
    <fieldset class="form-group col-10">
        <h6>Email
            <small class="text-muted">exemplo@gmail.com</small>
        </h6>
        <div class="form-group">
            <input type="text" name="email" class="form-control email-inputmask" id="email"
                placeholder="Insira o endereço de e-mail" {% if pac %}value="{{ pac.email }}"{% endif %}/>
        </div>
    </fieldset>

    <div class="form-group col-10">
        <div class="row">
<!--  Celular -->
            <fieldset class="form-group col-5">
                <h6>Celular
                    <small class="text-muted">(99) 99999-9999</small>
                </h6>
                <div class="form-group">
                    <input type="text" class="form-control optional-inputmask" name="celular" id="optional-mask"
                        placeholder="Celular - (99) 99999-9999" {% if pac %}value="{{ pac.celular }}"{% endif %} />
                </div>
            </fieldset>

<!--   Fixo -->
            <fieldset class="form-group col-5">
                <h6>Tel. Fixo
                    <small class="text-muted">(99) 99999-9999</small>
                </h6>
                <div class="form-group">
                    <input type="text" class="form-control optional-inputmask" name="tel_fixo" id="tel_fixo"
                        placeholder="Tel. Fixo - (99) 99999-9999" {% if pac %}value="{{ pac.tel_fixo }}"{% endif %}/>
                </div>
            </fieldset>
        </div>
    </div>

    <h4 class="form-group col-12"><i class="fa fa-paperclip"></i> Convênio</h4><hr>
<!--   Convenio-->
    <fieldset class="form-group col-10">
        <h6>Selecione um Convênio
                    <small class="text-muted">(99) 99999-9999</small>
                </h6>
        <select class="form-control" id="convenio" name="convenio">
            {% if pac %}<option>{{ pac.convenio }}</option>{% endif %}
            <option></option>
            <option>SulAmérica</option>
            <option>NotreDame Intermédica</option>
            <option>Prevent Senior</option>
            <option>Assim Saúde</option>
            <option>Central Nacional Unimed (CNU)</option>
            <option>GreenLine Sistema de Saúde</option>
            <option>Bradesco Seguros</option>
            <option>Hapvida Saúde</option>
        </select>
    </fieldset>

    <div class="form-group col-12">
        <div class="row">
<!--  Carteira convenio-->
            <fieldset class="form-group col-6">
                <h6>Carteirinha do convênio
                    <small class="text-muted"></small>
                </h6>
                <input type="text" id="carteira_convenio" class="contact-name form-control" name="carteira_convenio" placeholder="Carteira do convênio" {% if pac %}value="{{ pac.carteira_convenio }}"{% endif %}>
            </fieldset>

<!--  Vencimento da carteira-->
            <fieldset class="form-group col-4">
                <h6>Val. da Carteirinha
                    <small class="text-muted">Mês/Ano</small>
                </h6>
                <div class="form-group">
                    <input {% if pac %}value="{{ pac.data_nasci|date:"m-y" }}"{% endif %} name="val_carteirinha" class="form-control date-inputmask" type="text" placeholder="Insira a validade da carteira" data-inputmask="'alias': 'datetime','inputFormat': 'mm/yy'">
                </div>
            </fieldset>
        </div>
    </div>
</div>

