{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-2 col-12">
		<a href="{% url 'list-pac' %}">
		  <div class="card bg-primary">
			<div class="card-content">
			  <div class="card-body">
				<div class="media d-flex">
				  <div class="media-body white text-left">
					<h3>{{ len_pac }}</h3>
					<span>Total de Pacientes</span>
				  </div>
				  <div class="align-self-center">
					<i class="icon-user white font-large-2 float-right"></i>
				  </div>
				</div>
			  </div>
			</div>

		  </div>
		</a>
	</div>

    <div class="col-xl-3 col-sm-6 col-12">
		<a href="{% url 'list-appo' %}">
		  <div class="card bg-gradient-directional-success">
			<div class="card-content">
			  <div class="card-body">
				<div class="media d-flex">
				  <div class="media-body white text-left">
					<h3>{{ len_appo }}</h3>
					<span>Total De Consultas</span>
				  </div>
				  <div class="align-self-center">
					<i class="icon-clock white font-large-2 float-right"></i>
				  </div>
				</div>
			  </div>
			</div>

		  </div>
		</a>
	</div>
  </div>


<section id="basic-progress">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Estatísticas Convênio</h4>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
							<li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body text-center">
                      {% for item in porc_conv%}
						<div class="text-center" id="example-caption-1">{{ item.conv }}... {{ item.porc }}%</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:{{ item.porc }}%" aria-describedby="example-caption-1"></div>
						</div>
                      {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
